#
# SPDX-License-Identifier: GPL-3.0-or-later
#
# Copyright (c) 2026 NTU AI Club
#
# This file is part of Ian, an open-source AI agent framework developed
# and maintained by NTU AI Club.
#
# Ian is licensed under the GNU General Public License, either version 3
# of the License, or (at your option) any later version.
#
# Ian is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Ian. If not, see <https://www.gnu.org/licenses/>.
#

# Discord
DISCORD_BOT_TOKEN=
DISCORD_LOG_CHANNEL_ID=
STAFF_NOTIFICATION_CHANNEL_ID=

# Google Gemini
GOOGLE_API_KEY=

# Facebook
PAGE_ACCESS_TOKEN=
FB_VERIFY_TOKEN=

# Member API
MEMBER_API_URL=
MEMBER_API_KEY=

# Course Data
COURSE_DATA_URL=

# LINE Bot
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
LINE_ALLOWED_GROUPS=

# ngrok
NGROK_AUTHTOKEN=
