# Discord
DISCORD_BOT_TOKEN=
DISCORD_LOG_CHANNEL_ID=
STAFF_NOTIFICATION_CHANNEL_ID=

# Google Gemini
GOOGLE_API_KEY=

# Facebook
PAGE_ACCESS_TOKEN=
FB_VERIFY_TOKEN=

# Member API
MEMBER_API_URL=
MEMBER_API_KEY=

# Course Data
COURSE_DATA_URL=

# LINE Bot
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
LINE_ALLOWED_GROUPS=

# ngrok
NGROK_AUTHTOKEN=
