# Flask & Web
flask[async]
requests

# Discord Bot
discord

# LINE Bot
line-bot-sdk

# Core Logic & AI
mcp[cli]
langchain
langgraph
langchain-core
langchain-google-genai
langchain-google-community
langchain-huggingface
langchain-community
langchain-text-splitters
langchain-mcp-adapters
pydantic
sentence-transformers
faiss-gpu-cu12

# Data & Text Processing
pandas
jieba

# SSE Transport
uvicorn
starlette
sse-starlette